In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'pah_2016_2022_with_Y_M_02.csv', encoding='latin1')

C:\Users\vinay_bijalwan.PATANJALI\AppData\Local\Temp\ipykernel_9936\1596531958.py:1: DtypeWarning: Columns (7,9,26,27,28,31,32,34,37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'pah_2016_2022_with_Y_M_02.csv', encoding='latin1')

In [3]:
df.head()

,yyyy,mm,Visit Date,Visit _01,Visit_ID,HIN No.,Patient Name,Patient_Phone1,Whatsapp Number,E-Mail,...,Feedback by patient,Others,Feedback Done,Feedback Taken By,Feedback_ID,Feedback Date,No. Of Feedback,Relief %,Relief % By Doctor,Medicine_Status
0,2016,6,2016-17-06,17-06-2016,2.020000e+19,1.043309e+06,ASHA KUMARI SINGH,9431776912.0,NaN,NaN,...,NO,NO,YES,DR VIJAY NIGAM,4.0,28-07-2016,1.0,0.0,0,Other
1,2016,6,2016-17-06,17-06-2016,2.020000e+19,1.421295e+10,RAJESHWARI DEVI,0.0,NaN,NaN,...,NO,NO,YES,MR VINAY BIJALWAN,2410.0,05-09-2016,1.0,0.0,0,Medicine Discontinue
2,2016,6,2016-17-06,17-06-2016,2.020000e+19,1.425700e+10,PUSHPA RANI,9466480250.0,NaN,NaN,...,NO,NO,YES,MR VINAY BIJALWAN,2444.0,05-09-2016,1.0,0.0,0,Medicine Discontinue
3,2016,6,2016-17-06,17-06-2016,2.020000e+19,1.434514e+10,NALIN KANT SINGH,9431776912.0,NaN,NaN,...,NO,NO,YES,MR VINAY BIJALWAN,2450.0,05-09-2016,1.0,0.0,0,Medicine Discontinue
4,2016,6,2016-17-06,17-06-2016,2.020000e+19,1.437900e+10,DHANA KANWAR,8058392136.0,NaN,NaN,...,NO,YES,YES,MR VINAY BIJALWAN,2453.0,05-09-2016,1.0,0.0,0,Medicine Continue

In [5]:
yearly = df.groupby("yyyy").count()

In [6]:
yearly_value = df.groupby("yyyy").value_counts()

In [13]:
yearly_size = df.groupby("yyyy").size()

In [14]:
print(yearly_size)

yyyy
2016     72344
2017    173981
2018    142071
2019    139782
2020     62808
2021     96034
2022    142581
dtype: int64

In [7]:
print(yearly_value)

Series([], dtype: int64)

In [8]:
print(yearly)

          mm  Visit Date  Visit _01  Visit_ID  HIN No.  Patient Name  \
yyyy
2016   72344       72344      72344     72344    72344         72344
2017  173981      173981     173981    173981   173981        173981
2018  142071      142071     142071    142071   142071        142071
2019  139782      139782     139782    139782   139782        139782
2020   62808       62808      62808     62808    62808         62808
2021   96034       96034      96034         0    96034         96034
2022  142581      142581     142581      9419   142581        142581

      Patient_Phone1  Whatsapp Number  E-Mail     Age  ...  \
yyyy                                                   ...
2016           72246             4434    3717   72344  ...
2017          173656            24500   28760  173981  ...
2018          141989            46820   45442  142071  ...
2019          139674            34606   42123  139782  ...
2020           62769             5830    7438   62808  ...
2021           96006                0       0   96034  ...
2022          136890                0       0  142581  ...

      Feedback by patient  Others  Feedback Done  Feedback Taken By  \
yyyy
2016                72344   72344          72344              55654
2017               173981  173981         173981             138286
2018               142071  142071         142071              93482
2019               139782  139782         139782              64415
2020                62808   62808          62808              30304
2021                 8584    8584              0                  0
2022                11211   16875              0                  0

      Feedback_ID  Feedback Date  No. Of Feedback  Relief %  \
yyyy
2016        60451          60451            72344     72344
2017       138286         138286           173981    173981
2018        93482          93482           142071    142071
2019        64415          64415           139782    139782
2020        30304          30304            62808     62808
2021            0              0                0         0
2022            0              0                0         0

      Relief % By Doctor  Medicine_Status
yyyy
2016               72344            60451
2017              173004           138286
2018              129109            93482
2019              130161            64415
2020               58334            30304
2021                   0                0
2022                   0                0

[7 rows x 38 columns]

In [9]:
monthly = yearly.groupby("mm").count()

In [10]:
print(monthly)

        Visit Date  Visit _01  Visit_ID  HIN No.  Patient Name  \
mm
62808            1          1         1        1             1
72344            1          1         1        1             1
96034            1          1         1        1             1
139782           1          1         1        1             1
142071           1          1         1        1             1
142581           1          1         1        1             1
173981           1          1         1        1             1

        Patient_Phone1  Whatsapp Number  E-Mail  Age  Age Group  ...  \
mm                                                               ...
62808                1                1       1    1          1  ...
72344                1                1       1    1          1  ...
96034                1                1       1    1          1  ...
139782               1                1       1    1          1  ...
142071               1                1       1    1          1  ...
142581               1                1       1    1          1  ...
173981               1                1       1    1          1  ...

        Feedback by patient  Others  Feedback Done  Feedback Taken By  \
mm
62808                     1       1              1                  1
72344                     1       1              1                  1
96034                     1       1              1                  1
139782                    1       1              1                  1
142071                    1       1              1                  1
142581                    1       1              1                  1
173981                    1       1              1                  1

        Feedback_ID  Feedback Date  No. Of Feedback  Relief %  \
mm
62808             1              1                1         1
72344             1              1                1         1
96034             1              1                1         1
139782            1              1                1         1
142071            1              1                1         1
142581            1              1                1         1
173981            1              1                1         1

        Relief % By Doctor  Medicine_Status
mm
62808                    1                1
72344                    1                1
96034                    1                1
139782                   1                1
142071                   1                1
142581                   1                1
173981                   1                1

[7 rows x 37 columns]

In [11]:
monthly_size = yearly.groupby("mm").size()

In [12]:
print(monthly_size)

mm
62808     1
72344     1
96034     1
139782    1
142071    1
142581    1
173981    1
dtype: int64

In [15]:
monthly_size = yearly_size.groupby("mm").size()

KeyError: 'mm'

In [ ]:
print()