In [13]:
## import lib

import pandas as pd
import os
import glob
import datetime as dt

In [2]:
#list all csv files only
csv_files = glob.glob('*.{}'.format('csv'))
csv_files

['PAH_2016.csv',
 'PAH_2017.csv',
 'PAH_2018.csv',
 'PAH_2019.csv',
 'PAH_2020.csv',
 'PAH_2021.csv',
 'PAH_2022.csv']

In [3]:
##concate csv file in loop
df_concat = pd.concat([pd.read_csv(f, encoding='ISO 8859-1') for f in csv_files ], ignore_index=True)

C:\Users\vinay_bijalwan.PATANJALI\AppData\Local\Temp\ipykernel_6828\3649777040.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_concat = pd.concat([pd.read_csv(f, encoding='ISO 8859-1') for f in csv_files ], ignore_index=True)
C:\Users\vinay_bijalwan.PATANJALI\AppData\Local\Temp\ipykernel_6828\3649777040.py:2: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  df_concat = pd.concat([pd.read_csv(f, encoding='ISO 8859-1') for f in csv_files ], ignore_index=True)
C:\Users\vinay_bijalwan.PATANJALI\AppData\Local\Temp\ipykernel_6828\3649777040.py:2: DtypeWarning: Columns (6,27,28,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df_concat = pd.concat([pd.read_csv(f, encoding='ISO 8859-1') for f in csv_files ], ignore_index=True)

In [4]:
##save file as csv
df_concat.to_csv('pah_2016_2022_new.csv')

In [5]:
df_concat.head()

,Visit Date,Visit_ID,HIN No.,Patient Name,Patient_Phone1,Whatsapp Number,E-Mail,Age,Age Group,Gender,...,Unnamed: 6,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,17-06-2016,2.016060e+19,1.043309e+06,ASHA KUMARI SINGH,9431776912.0,NaN,NaN,58,51-65,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17-06-2016,2.016060e+19,1.421295e+10,RAJESHWARI DEVI,0.0,NaN,NaN,74,66-100,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17-06-2016,2.016060e+19,1.425700e+10,PUSHPA RANI,9466480250.0,NaN,NaN,32,21-35,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17-06-2016,2.016060e+19,1.434514e+10,NALIN KANT SINGH,9431776912.0,NaN,NaN,57,51-65,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17-06-2016,2.016060e+19,1.437900e+10,DHANA KANWAR,8058392136.0,NaN,NaN,51,51-65,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_concat['Unnamed: 6'].isna().sum()

829532

In [7]:
df_concat.isna().sum().sum()

17732255

In [8]:
len(df_concat)

829601

In [15]:
df_concat['year'] = df_concat['Visit Date'].dt.year

AttributeError: Can only use .dt accessor with datetimelike values

In [16]:
df_concat['year'] = pd.to_datetime(df_concat['Visit Date'].dt.year, errors='coerce')

AttributeError: Can only use .dt accessor with datetimelike values